INTRODUCTION TO PYTHON FOR MACHINE LEARNING TAG ALONG CODES

Answers to the second part of the Quiz using the African food production dataset provided by the FAO.

In [78]:
import pandas as pd
url="https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv"
# f_a is stands for Food Production
f_a=pd.read_csv(url, encoding="latin1")

11. The total sum of Animal Fat produced in 2014 and 2017 respectively is

In [9]:
f_a.groupby('Item').sum()
A=pd.DataFrame(f_a.groupby('Item').sum())
print(A.at['Animal fats','Y2014'])
print(A.at['Animal fats','Y2017'])

209460.54
269617.53

12. The mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places is

In [15]:
f_a.describe()
B=pd.DataFrame(f_a.describe())
decimal_format = "{:.3f}".format(B.at['mean','Y2016'])
decimal_format1 = "{:.3f}".format(B.at['std','Y2016'])
print(decimal_format)
print(decimal_format1)

136.555
1640.007

13. The total number and percentage of missing data in 2016 to 2 decimal places is

In [21]:
f_a.isnull().sum()
C=pd.DataFrame(f_a.isnull().sum())
D=C.iat[9,0]
E=len(f_a)
Percentage=(D/E)*100
Percentage_format = "{:.2f}".format(Percentage)
print(D, 'and' , Percentage_format,'%')

1535 and 2.52 %

14. The year that had the highest correlation with ‘Element Code’

In [111]:
f_a.groupby('Element Code').sum()
F=pd.DataFrame(f_a.groupby('Element Code').sum())
P=F.reset_index()
print(P['Element Code'].corr(P['Y2014']))
print(P['Element Code'].corr(P['Y2015']))
print(P['Element Code'].corr(P['Y2016']))
print(P['Element Code'].corr(P['Y2017']))
print(P['Element Code'].corr(P['Y2018']))

print('Y2017 had the highest correlation with Element Code')

0.1282844672996681
0.1254596929964542
0.12381721378789941
0.12920400412461072
0.12888513118822403
Y2017 had the highest correlation with Element Code

15. The year with the highest sum of Import Quantity is

In [142]:
G=pd.DataFrame(f_a)
G1=pd.DataFrame(G[G['Element'].eq('Import Quantity')]).sum()
print(G1)
print('The year with the highest sum of Import Quantity is 2017')

Area Code                                                  688174
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                13795966
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             28834929
Element         Import QuantityImport QuantityImport QuantityI...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                   274144.48
Y2015                                                   267018.46
Y2016                                                   286582.78
Y2017                                                   294559.09
Y2018                                                   287997.09
dtype: object
The year with the highest sum of Import Quantity is 2017

16. The total number of the sum of Production in 2014 is

In [143]:
f_a.groupby('Element')['Y2014'].sum()
H=pd.DataFrame(f_a.groupby('Element')['Y2014'].sum())
print(H)
H.at['Production','Y2014']
print('The total number of the sum of Production in 2014 is 1931287.75')

                                             Y2014
Element
Domestic supply quantity                1996716.35
Export Quantity                          150020.64
Fat supply quantity (g/capita/day)        10225.56
Feed                                     216927.89
Food                                    1212332.49
Food supply (kcal/capita/day)            454257.00
Food supply quantity (kg/capita/yr)       49650.63
Import Quantity                          274144.48
Losses                                   153223.00
Other uses (non-food)                     78718.13
Processing                               282923.00
Production                              1931287.75
Protein supply quantity (g/capita/day)    11836.46
Residuals                                 30149.00
Seed                                      21922.92
Stock Variation                           58749.83
Total Population - Both sexes           1031585.00
Tourist consumption                         416.00
The total number of the sum of Production in 2014 is 1931287.75

17. The elements with the highest sum in 2018?

In [47]:
f_a.groupby('Element')['Y2018'].sum()
I=pd.DataFrame(f_a.groupby('Element')['Y2018'].sum())
print(I)

print(I.at['Food supply quantity (kg/capita/yr)','Y2018'])
print(I.at['Domestic supply quantity','Y2018'])
print(I.at['Import Quantity','Y2018'])
print(I.at['Food supply (kcal/capita/day)','Y2018'])

print('Domestic supply quantity is the highest')

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00
49056.85
2161192.1
287997.09
455261.0
Domestic supply quantity is the highest

18. The element that had the 3rd lowest sum in 2018 is

In [60]:
f_a.groupby('Element')['Y2018'].sum()
J=pd.DataFrame(f_a.groupby('Element')['Y2018'].sum())
print('Food supply (kcal/capita/day) is' , J.at['Food supply (kcal/capita/day)','Y2018'])
print('Fat supply quantity (g/capita/day) is', J.at['Fat supply quantity (g/capita/day)','Y2018'])
print('Seed is',J.at['Seed','Y2018'])
print('Protein supply quantity (g/capita/day) is',J.at['Protein supply quantity (g/capita/day)','Y2018'])
print('Food supply quantity (kg/capita/yr) is',J.at['Food supply quantity (kg/capita/yr)','Y2018'])

print('The element with the 3rd lowest sum in 2018 is Seed')

Food supply (kcal/capita/day) is 455261.0
Fat supply quantity (g/capita/day) is 10258.69
Seed is 25263.14
Protein supply quantity (g/capita/day) is 11833.56
Food supply quantity (kg/capita/yr) is 49056.85
The element with the 3rd lowest sum in 2018 is Seed

19. The total Import Quantity in Algeria in 2018 is

In [217]:
k=pd.DataFrame(f_a)
K3=pd.DataFrame(k[k['Area'].eq('Algeria')])
K8=pd.DataFrame(K3)

K5=K8[['Area','Element','Y2018']]
K6=pd.DataFrame(K5)
K7=(K6.loc[K6['Element']=='Import Quantity']).sum()
print(K7)
print('The total Import Quantity in Algeria in 2018 is 36238.29')

Area       AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Element    Import QuantityImport QuantityImport QuantityI...
Y2018                                               36238.29
dtype: object
The total Import Quantity in Algeria in 2018 is 36238.29

20. The total number of unique countries in the dataset is

In [89]:
f_a.groupby(['Area']).sum()
L=pd.DataFrame(f_a.groupby(['Area']).sum())
print(L)
print(L.nunique())
print('The total number of unique countries in the dataset is 49')

Area Code       49
Item Code       49
Element Code    49
Y2014           48
Y2015           48
Y2016           48
Y2017           48
Y2018           48
dtype: int64
The total number of unique countries in the dataset is 49